
.button {
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #1976d2;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 1000000;
  transition: all 0.5s;
  justify-content: center;
  align-items: center;
}
.button::after {
  content: "Home";
  position: absolute;
  width: auto;
  background-color: white;
  font-size: 1em;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 25px;
  top: -50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  transform: scale(0);
}
.svg {
  transition: all 0.5s;
}
.button:hover {
  transform: translateY(-3px);
  background-color: #1976d2;
}
.button:hover .svg {
  fill: white;
  transform: scale(1.2);
}
.button:hover::after {
  transform: scale(1);
}
.button:active {
  transform: translateY(2px);
}
